/* BACKGROUND IMAGES */
#a {
  background-image: url(../oscar0.jpg);
}

#b {
  background-image: url(../oscar1.jpg);
}

#c {
  background-image: url(../oscar2.jpg);
}

#d {
  background-image: url(../oscar3.jpg);
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  text-align: left;
  height: 40px;
  color: white;
  z-index: 1000;
  opacity: .8;
}
header h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.box, .box1, .box2, .box3, .box4 {
  background-size: 250px 200px;
  background-repeat: no-repeat;
  z-index: 1010;
  width: 250px;
  height: 200px;
  opacity: 0.9;
}

.box1 {
  background-image: url(http://media.screened.com/uploads/0/183/576822-sandw.jpg);
}

.box2 {
  background-image: url(http://static1.wikia.nocookie.net/__cb20101201224652/muppet/images/thumb/b/be/Gangstersbenny.jpg/302px-Gangstersbenny.jpg);
}

.box3 {
  background-image: url(http://31.media.tumblr.com/tumblr_llboxeozNC1qjed1zo1_500.jpg);
}

.box4 {
  background-image: url(http://www.texasmornings.com/wp-content/uploads/2012/09/muppets-piggy-kermit.jpg);
}

.article1 {
  background-color: #f28066;
}

.article2 {
  background-color: #12b3ab;
}

.article, .article1, .article2 {
  font-size: 15px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.content1, content3 {
  border: 1px solid #f28066;
}

.content, .content1 {
  border: 1px solid #12b3ab;
  width: 250px;
  float: right;
  margin-right: 50px;
}

.content2, .content3 {
  float: left;
  margin-left: 150px;
}
