/* BACKGROUND IMAGES */

#a {
  background-image: url(../oscar0.jpg);
}

#b {
  background-image: url(../oscar1.jpg);
}

#c {
  background-image: url(../oscar2.jpg);
}

#d {
  background-image: url(../oscar3.jpg);
}

header {
                  position: fixed;
        width: 100%;
        background-color: black;
        text-align: left;
        height: 40px;
        color: white;
        z-index: 1000;
        opacity: .8;

        h1 {
                font-size: 20px;
                text-align: center;
                padding-top: 10px;
                font-family: 'Raleway', sans-serif;
                float: none;
        }
}

.box {
        background-size:250px 200px;
        background-repeat:no-repeat;
        z-index:1010;
        width: 250px;
        height: 200px;        
        opacity: .9
}

        .box1 {
                 @extend .box;
                background-image: url(http://media.screened.com/uploads/0/183/576822-sandw.jpg);
        }

        .box2 {
                @extend .box;
                background-image: url(http://static1.wikia.nocookie.net/__cb20101201224652/muppet/images/thumb/b/be/Gangstersbenny.jpg/302px-Gangstersbenny.jpg);

        }

        .box3 {
                 @extend .box;
                background-image: url(http://31.media.tumblr.com/tumblr_llboxeozNC1qjed1zo1_500.jpg);
        }

        .box4 {
                 @extend .box;
                background-image: url(http://www.texasmornings.com/wp-content/uploads/2012/09/muppets-piggy-kermit.jpg);
        }

        .article1  {
                @extend .article;
                background-color: #f28066;
        }

        .article2 {
                @extend .article;
                background-color: #12b3ab;
        }

.article {
        font-size:15px;
        padding:10px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
}

.content1, content3 {
        border: 1px solid #f28066;
}

.content, .content1 {
        border:1px solid #12b3ab;
        width: 250px;
        float: right;
        margin-right: 50px;
    }

    .content2, .content3 {
        float: left;
        margin-left: 150px;
}

#myMenu {
    margin-left: 100px;
    margin-top: 10px;
    float: left;
}

li { 
  display: inline-block;
  list-style: none;
  margin-left: 100px;
}

.listitem {
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 15px;
  font-size: 20px;
  height: 22px;
  width: 22px;
  margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.pagenumber {
    margin-left: 6px;
}

